tests/issue0228.d               text eol=lf
tests/allman/issue0228.d.ref    text eol=crlf
tests/knr/issue0228.d.ref       text eol=crlf
tests/otbs/issue0228.d.ref      text eol=crlf
tests/issue0552_lf.d            text eol=lf
tests/allman/issue0552_lf.d.ref text eol=lf
tests/knr/issue0552_lf.d.ref    text eol=lf
tests/otbs/issue0552_lf.d.ref   text eol=lf
tests/issue0552_cr.d            text eol=cr
tests/allman/issue0552_cr.d.ref text eol=cr
tests/knr/issue0552_cr.d.ref    text eol=cr
tests/otbs/issue0552_cr.d.ref   text eol=cr
tests/issue0552_crlf.d            text eol=crlf
tests/allman/issue0552_crlf.d.ref text eol=crlf
tests/knr/issue0552_crlf.d.ref    text eol=crlf
tests/otbs/issue0552_crlf.d.ref   text eol=crlf
